{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh

# Fisher
curl -sL https://git.io/fisher | source
fisher install jorgebucaran/fisher
fisher install jethrokuan/z

# Starship
curl -sS https://starship.rs/install.sh | sh -s -- -y
echo "starship init fish | source" >> ~/.config/fish/config.fish

# Node.js Tools
brew install fnm

echo "fnm env --shell fish | source" >> ~/.config/fish/conf.d/fnm.fish
source ~/.config/fish/conf.d/fnm.fish
source ~/.config/fish/config.fish

fnm install 17
fnm use 17

brew install pnpm
echo "set -Ux PNPM_HOME \"$HOME/.local/share/pnpm\"" >> ~/.config/fish/conf.d/pnpm.fish
echo "set -U fish_user_paths \"$HOME/.local/share/pnpm\" $fish_uesr_path" >> ~/.config/fish/conf.d/pnpm.fish
source ~/.config/fish/conf.d/pnpm.fish

pnpm install -g typescript
pnpm install -g eslint
pnpm install -g prettier

{{ else -}}
#!/bin/sh
echo "Unsupported OS: {{ .chezmoi.os }}"
{{ end -}}
